name: Node.js CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  # --- Job 1: Build & Test on your Self-Hosted Runner ---
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test


  # --- Job 2: Docker Build & Push on GitHub Cloud Runner ---
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: "jamesjone"
          password: ${{ secrets.JAMESJONE }}

      - name: Build Docker image
        run: docker build -t jamesjone/devops:latest .

      - name: Push Docker image
        run: docker push jamesjone/devops:latest
