name: Node.js CI

on:
  push:
    branches:
      - main  # Trigger CI on pushing to the main branch
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
      
    - name: Install dependencies
      run: npm install
      
    - name: Run tests
      run: npm test
  deploy:
    needs: build         # Only run after CI passes
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t jamesjone/devops-example:latest .

      - name: Push Docker image
        run: docker push jamesjone/devops-example:latest

      - name: Pull image on runner
        run: docker pull jamesjone/devops-example:latest
      
      - name: Run container
        run: docker run -d -p 3000:3000 jamesjone/devops-example:latest