name: Deploy Docker Container

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:dind
        options: --privileged
        ports:
          - 2375:2375
        env:
          DOCKER_TLS_CERTDIR: ""

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker client
        run: |
          echo "DOCKER_HOST=tcp://localhost:2375" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.JAMESJONE }}" | docker login -u "jamesjone" --password-stdin

      - name: Pull latest image
        run: docker pull jamesjone/devops:latest

      - name: Stop old container
        run: |
          docker stop devops || true
          docker rm devops || true

      - name: Run new container
        run: |
          docker run -d --name devops -p 3000:3000 jamesjone/devops:latest
